PORT=8080
LOG_LEVEL=info

# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nutriflow
DB_PORT=5432
DATABASE_URL=postgres://postgres:postgres@localhost:5432/nutriflow?sslmode=disable

# FatSecret
FATSECRET_CLIENT_ID=db78ef0e617646ddb54ef18d6a4f1a65
FATSECRET_CLIENT_SECRET=ea9d474e736b46f7b1c859a70ed68921
FATSECRET_SCOPE=basic

# App Logic
FOOD_CACHE_TTL_DAYS=30
